<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/css">
    <include path="~/css/bootstrap.min.css" />
    <include path="~/css/font-awesome.min.css" />
    <include path="~/css/animate.min.css" />
    <include path="~/css/lightbox.css" />
    <include path="~/css/main.css" />
    <include path="~/css/responsive.css" />        
  </styleBundle>
</bundles>